<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.online12piece_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="12 piece"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Online12piece_Game">
        <activity
            android:name=".GameSeven"
            android:exported="true" />
        <activity
            android:name=".GameFive"
            android:exported="true" />
        <activity
            android:name=".PlayerSelection"
            android:exported="true" />
        <activity
            android:name=".about"
            android:exported="true" />
        <activity
            android:name=".theme"
            android:exported="true" />
        <activity
            android:name=".grid_selection"
            android:exported="true" />
        <activity
            android:name=".signup"
            android:exported="true" />
        <activity
            android:name=".Signin"
            android:exported="true"></activity>
        <activity
            android:name=".Welcome"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>